/* Reading Area */
.reading-area {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the entire content vertically */
  position: relative;
}

/* Lamp and Glow */
.lamp {
  display: none;
  width: 300px;
  height: 50px;
  z-index: 10;
  position: absolute;
  top: 0; /* Align the lamp above the bulb */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for the lamp's width */
}

.glow {
  -webkit-box-shadow: 0px 0px 105px 45px rgba(241, 255, 45, 0.9);
  -moz-box-shadow: 0px 0px 105px 45px rgba(241, 255, 45, 0.9);
  box-shadow: 0px 0px 105px 45px rgba(241, 255, 45, 0.9);
  position: absolute;
  transform: translateX(-50%);
}

.bulb {
  display: none;
  width: 80px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(214, 221, 11);
  position: absolute;
  top: 17px; /* Adjust the bulb's position closer to the lamp */
  left: 50%;
  transform: translateX(-50%);
}

/* Book Container */
.book-container {
  width: 100%;
  max-width: 750px; /* Increased width for better proportions */
  height: 550px; /* Increased height to fit proportions */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Smooth transition for open/close */
}

/* Flipbook Pages */
.page {
  background: #fcdb8f;
}

/* Book Styles */
.book {
  width: 350px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image scales properly */
  border-radius: 15px;
}

.page-nav-area {
  display: flex;
  align-items: center;
}

/* Arrow Icon */
.arrow {
  font-weight: bold;
  font-size: 2em;
}

.navigation-btn {
  margin-top: 5px;
  width: 50px;
  height: 50px;
  background-color: #6a0dad;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-btn:hover {
  background-color: #8a2be2;
  transform: scale(1.1);
}

.page-nos {
  margin: 0 10px;
}

.demo-book {
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #fcdb8f;
}

.cover-page-title {
  width: 80%;
  height: 80px;
  letter-spacing: 1.5px;
  color: white;
  background-color: #987ea9;
  border-radius: 5px;
}

.cover-page-image {
  width: 90%;
  height: 300px;
}

.page-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.page-image {
  height: 150px;
}

.page-text {
  height: 200px;
  line-height: 1.4em;
  font-weight: bold;
  color: #37045c74;
  background-color: #07866074;
  letter-spacing: 1px;
}

.page-footer {
  border-top: 1px solid grey;
  margin-top: 10px;
  padding-top: 5px;
  height: 5vh;
  width: 90%;
  color: black;
}
